.layout {
  &__content {
    @include headerSizeTop();
    margin-left: 10vw;
    margin-right: 10vw;
    min-height: calc(
      100vh - #{$heightHeader} - #{$heightFooter} - #{$heightSubHeader}
    );

    @media (max-width: #{$breakHeader1}) {
      min-height: calc(100vh - #{$heightHeader} - #{$heightFooter});
    }
    @media (max-width: #{$breakHeader3}) {
      min-height: calc(100vh - #{$heightHeader2} - #{$heightFooter});
    }
  }
}
