.filtro {
  $font-size: 2rem;

  padding: $font-size * 1.8 $font-size * 1.2 $font-size * 0.8 $font-size * 1.2;
  border-radius: $font-size * 0.2;
  //shadow
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-areas: "marca precio" "categoria producto";
  position: relative;
  &--noFilter {
    padding: 1rem;
    padding-top: 1.7rem;
    margin: 0;
    width: $font-size * 2;
    float: right !important;
    .filtro__marca,
    .filtro__precio,
    .filtro__categoria,
    .filtro__producto {
      display: none !important;
    }
    .filtro__togle {
      & > span {
        display: inline-block;
      }
      & > i {
        color: $disabledColor;
      }
    }
  }

  &__togle {
    position: absolute;
    top: 3px;
    right: 10px;
    cursor: pointer;
    & > span {
      position: absolute;
      display: none;
      font-size: $font-size * 0.8;
      right: $font-size * 2;
      top: -10%;
      font-weight: 700;
      font-style: italic;
      color: $pantone2039U;
      &::after {
        content: " ";
      }
    }

    & > i {
      color: $pantoneWarmRedC;
      font-size: $font-size;
    }
  }

  &__marca,
  &__precio,
  &__categoria,
  &__producto {
    margin: $font-size * 0.5;
  }
  &__marca {
    grid-area: marca;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      font-size: inherit;
      margin-right: $font-size;
      font-weight: 600;
      padding-bottom: $font-size * 0.4;
    }
  }
  &__precio {
    grid-area: precio;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    & > span {
      font-size: inherit;
      margin-right: $font-size;
      font-weight: 600;
      padding-right: $font-size * 0.5;
      padding-bottom: $font-size * 0.4;
    }
    & > .filtro__slider {
      margin-right: $font-size * 1.5;
    }
  }
  &__categoria {
    grid-area: categoria;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      font-size: inherit;
      margin-right: $font-size;
      font-weight: 600;
      padding-bottom: $font-size * 0.4;
    }
  }
  &__producto {
    grid-area: producto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & > span {
      font-size: inherit;
      margin-right: $font-size;
      font-weight: 600;
      padding-bottom: $font-size * 0.4;
    }
  }

  @media screen and (max-width: 850px) {
    grid-template-areas: "marca" "precio" "categoria" "producto";
    $font-size: 1.5rem;
    font-size: min(#{$font-size}, 3.5vw);
    padding: 1rem;
    padding-top: 1.7rem;
    margin: 0;
  }
}
