.botonColores1 {
  font-size: sizeBasedOnTitle(0.5);
  background-color: $pantone2039U;
  outline: none !important;
  border: none;
  padding: 0.35em 1.5em;
  color: white;
  font-weight: bold;
  border-radius: 0.6em;
  max-width: 100%;
  cursor: pointer;
  //shadow
  box-shadow: 0 0 0.4em rgba(0, 0, 0, 0.3);
  & > i {
    margin-right: 3px;
  }

  & > p {
    display: inline;
  }
  &:hover {
    opacity: 0.96;
  }
  &:active {
    transform: scale(0.99);
  }
}
