//hojas de estilo personalizadas
@import "./variables.scss";
@import "./layout/Header.scss";
@import "./layout/Layout.scss";
@import "./index/Destacados.scss";
.rectangle {
  background-color: bisque;
  height: 500px;
}
.box {
  width: 500px;
  height: 500px;
  background-color: red;
}
