//Archivo de variables globales
//Tamaños
$height-header1: 7rem;
$height-header2: $height-header1 * 0.6; //4.2rem si header1 es 7rem
$height-header1-850px: $height-header1 * 0.75;
$height-header1-700px: $height-header1 * 0.6;
$width-logo: 15rem;
$width-logo-700px: $width-logo * 0.6;
$height-footer: 9.4rem;
$height-footer-700px: 7rem;
//Colores
$pantone106C: #f9e547;
$white: #ffffff;
$pantone2412C: #48d597;
$pantone2039U: #ea5c90;
$pantoneBlackC: #2d2926;
$pantone244C: #e59bdc;
$pantone2202C: #00a5df;
$pantoneWarmRedC: #f9423a;
$pantone1645C: #ff6a39;
$pantone7404C: #f4da40;
$pantone292C: #69b3e7;
$shadow1: rgba(0, 0, 0, 0.2);
$facebookColor: #4267b2;

//Fuentes
$SegoeUi: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;

//Textos Pseudoelementos

//Mixins

//Extends

//dado que el header tiene un tamaño variable este Extends se encarga de dar un margin segun el tamaño.
%marginHeader {
  margin-top: $height-header1 + $height-header2;
  @media screen and (max-width: 850px) {
    margin-top: $height-header1-850px;
  }
  @media screen and (max-width: 700px) {
    margin-top: $height-header1-700px;
  }
  @media screen and (max-width: 450px) {
    margin-top: $height-header1;
  }
}
// //dado que el header tiene un tamaño variable este Extends se encarga de dar un top segun el tamaño.
// %topHeader {
//   top: $height-header1 + $height-header2;
//   @media screen and (max-width: 850px) {
//     top: $height-header1-850px;
//   }
//   @media screen and (max-width: 700px) {
//     top: $height-header1-700px;
//   }
//   @media screen and (max-width: 450px) {
//     top: $height-header1;
//   }
// }

//clases
//NOSELECT sirve para que un elemento no se pueda seleccionar (como si fuese un pseudo elemento)
.NOSELECT {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
//TEXTINVISIBLE sirve para que un texto no aparezca en pantalla (esto puede servir por temas de SEO)
.TEXTINVISIBLE {
  text-indent: -9999px;
  font-size: 1px;
}
